NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

NEXT_PUBLIC_DEMO_MASTER_UID=
NEXT_PUBLIC_DEMO_MASTER_NAME="SHOWUP 데모 관리자"

NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_NO_SHOW_DEPOSIT_ADDRESS=
NEXT_PUBLIC_USER_REPUTATION_ADDRESS=

NEXT_PUBLIC_DEFAULT_BASE_DEPOSIT_ETH=
NEXT_PUBLIC_NO_SHOW_EXTRA_DEPOSIT_ETH=
NEXT_PUBLIC_DEFAULT_STORE_RATING=
NEXT_PUBLIC_DEFAULT_STORE_HOURS_TEXT="운영 시간 정보 없음"
NEXT_PUBLIC_BOOKING_TIME_SLOTS=10:00,11:00,13:00,15:00,17:00,19:00
NEXT_PUBLIC_UNAVAILABLE_TIME_SLOTS=11:00,19:00